host localhost          # Give your setup a name (here: override localhost)
    user {{sshUser}}            # Your remote git user
    port {{sshPort}}           # Your port number
    hostname {{sshHost}}; # Your server name or IP
