# GitLab user. git by default
user: git

# Url to gitlab instance. Used for api calls. Should end with a slash.
gitlab_url: "{{gitlabUrl}}"

http_settings:
#  user: someone
#  password: somepass
  {% if gitlabShellHttps == 'false' %}#{% endif %}ca_file: {{caFile}}
  {% if gitlabShellHttps == 'false' %}#{% endif %}ca_path: {{caPath}}
  self_signed_cert: {{selfSignedCert}}

# Repositories path
# REPOS_PATH MUST NOT BE A SYMLINK!!!
repos_path: "{{gitlab_base_dir}}/repositories"

# File used as authorized_keys for gitlab user
auth_file: "/home/{{gitlab_git_user}}/.ssh/authorized_keys"

# Redis settings used for pushing commit notices to gitlab
redis:
  bin: /usr/bin/redis-cli
  host: 127.0.0.1
  port: 6379
  # socket: /tmp/redis.socket # Only define this if you want to use sockets
  namespace: resque:gitlab

# Log file.
# Default is gitlab-shell.log in the root directory.
log_file: "{{gitlab_base_dir}}/gitlab-shell/gitlab-shell.log"

# Log level. INFO by default
log_level: INFO

# Audit usernames.
# Set to true to see real usernames in the logs instead of key ids, which is easier to follow, but
# incurs an extra API call on every gitlab-shell command.
audit_usernames: false
